body {
    background-color: #606c38;
    color: #fefae0;
    font-family: Verdana, sans-serif;
}

footer {
    text-align: center;
}

a:link{
    color: whitesmoke;
    text-decoration: underline;
}

a:visited {
    color: grey;
    text-decoration: underline;
}

a:hover {
    color: white;
}

